:root {
  --primary-color: #63aeb2;
  --primary-dark-color: #275a5a;
  --secondary-color: #f8fafa;
  --dark-color: #807f80;
  --opaque-color: #807f8088;
}
body {
  background: rgb(191, 228, 228);
  background: linear-gradient(
    69deg,
    rgba(191, 228, 228, 1) 2%,
    rgba(99, 174, 178, 1) 49%,
    rgba(55, 122, 122, 1) 93%
  );
}
body nav {
  background: var(--secondary-color);
}
a {
  text-decoration: none;
}
header {
  margin-top: 65px;
}
header .row {
  margin: 0 auto;
  padding: 0;
  --bs-gutter-x: -0.5rem;
}
.hero {
  background: var(--opaque-color);
}
.title {
  padding: 1rem 0.2rem;
  text-align: center;
  height: 100%;
}
.hero h1 {
  color: var(--secondary-color);
  font-size: 30px;
}
.hero h2 {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  color: var(--secondary-color);
}
.hero a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.salonServices {
  padding: 10px;
  background: #275a5acc;
  color: var(--secondary-color);
}
.salonServices h3 {
  font-size: 35px;
}
.salonServices dt {
  text-decoration: underline;
}
.waxingServices {
  padding: 10px;
  background: #f8fafa9f;
  color: var(--primary-dark-color);
}
.waxingServices h2 {
  font-size: 35px;
}
.arrow {
  background: var(--opaque-color);
  max-width: 100%;
  text-align: center;
  color: var(--secondary-color);
}
footer {
  background: var(--opaque-color);
  padding: 10px 10px;
  text-align: center;
}
footer h2 {
  font-size: 40px;
}
footer h4 {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 25px;
}
footer h3 a {
  color: var(--secondary-color);
}
@media (max-width: 315px) {
  .navbar-brand {
    font-size: 1rem;
  }
}
@media (min-width: 576px) {
  .hero h2 {
    position: relative;
    left: -100%;
  }
  .hero h1 {
    position: relative;
    top: 18%;
    left: -50%;
    font-size: 40px;
  }
  .hero h3 {
    position: relative;
    bottom: -50%;
  }
  .hero a {
    font-size: 1.75rem;
  }
}
